In [1]:
import math
import pandas as pd
from cmath import sqrt

In [2]:
a_number = 1234679
significant_digits = 3
rounded_number =  round(a_number, significant_digits - int(math.floor(math.log10(abs(a_number)))) - 1)

print(rounded_number)

1230000

In [3]:
SigFigs_df = pd.read_csv('../DataFiles/SigFig.csv')

#header = next(SigFig_df(row[0]))
SigFigs_df

         Numbers
0   1.234567e-01
1   1.234500e-04
2   1.200000e-02
3   1.234000e-02
4   1.200000e-01
5   1.234500e-01
6   1.238000e-01
7   1.234567e-01
8   1.234567e+00
9   1.234567e+01
10  1.234567e+02
11  1.234567e+03
12  1.234567e+04
13  1.234567e+05
14  1.234567e+06
15  1.234567e+07
16  1.234567e+08

In [4]:
("%.17f" % 1234567e+08).rstrip('0').rstrip('.')

'123456700000000'

In [5]:
# create the dataframe and variable for the ouput
SigFigs_output_df = pd.DataFrame()
SigFigs_output = []

# specify the number of significant figure
significant_digits = 3

for i, j in SigFigs_output_df.iterrows():
    val = (i,j)[1]
    SigFig_number =  round(val, significant_digits - int(math.floor(math.log10(abs(float(val))))) - 1)
    #print(SigFig_number)
    SigFigs_output.append(("%.3f" % SigFig_number[0]).rstrip('0').rstrip('.'))

SigFigs_output
SigFigs_output_df['Output'] = SigFigs_output
SigFigs_output_df

       Output
0       0.123
1           0
2       0.012
3       0.012
4        0.12
5       0.123
6       0.124
7       0.123
8        1.23
9        12.3
10        123
11       1230
12      12300
13     123000
14    1230000
15   12300000
16  123000000

In [6]:
round(99.5)

100

In [39]:
SigFigs_output_df
SigFigs_output = []
significant_digits = 3
for i, j in SigFigs_df.iterrows():
    val = (i,j)[1]
    SigFig_number =  round(val, significant_digits - int(math.floor(math.log10(abs(float(val))))) - 1)
    #print(SigFig_number)
    SigFigs_output.append(("%.99f" % SigFig_number[0]).rstrip('0').rstrip('.'))

SigFigs_output_df['Output'] = SigFigs_output
SigFigs_output_df

for i, j in SigFigs_output_df.iterrows():
    if float(SigFigs_output_df['Output'][1]) > 0.0001:
        SigFigs_output_df['Output'][1] = ("%.6f" % float(SigFigs_output_df['Output'][1])).rstrip('0').rstrip('.')
    else:
        SigFigs_output_df['Output'][1] = ("%.10f" % float(SigFigs_output_df['Output'][1])).rstrip('0').rstrip('.')

SigFigs_output_df

                                               Output
0   0.12299999999999999822364316059974953532218933...
1                                            0.000123
2   0.01200000000000000024980018054066022159531712...
3   0.01230000000000000016930901125533637241460382...
4   0.11999999999999999555910790149937383830547332...
5   0.12299999999999999822364316059974953532218933...
6   0.12399999999999999911182158029987476766109466...
7   0.12299999999999999822364316059974953532218933...
8   1.22999999999999998223643160599749535322189331...
9   12.3000000000000007105427357601001858711242675...
10                                                123
11                                               1230
12                                              12300
13                                             123000
14                                            1230000
15                                           12300000
16                                          123000000